In [1]:
print(2+3)

5

In [2]:
print(4-5)

-1

In [3]:
print(3//4)

0

In [4]:
print(22/3)

7.333333333333333

In [5]:
print(3%4)

3

In [6]:
print(2**3)

8

In [7]:
print(23**2/45)

11.755555555555556

In [8]:
#PEMDAS     paranthesis , exponents, multiplication, division, addition, subtraction
print((3**2/2*3)/3+6-4)

6.5

# String

In [9]:
print('saamd')

saamd

In [10]:
print("samad")

samad

In [11]:
print('''My name is abdul samad and I am a software developer''')

My name is abdul samad and I am a software developer

# Variable

In [12]:
x=5 # numeric and integer variable 
print(x)

5

In [13]:
x+10

15

# Types of variable

In [14]:
type (x)

int

# input variable

In [17]:
# input function 
fruit =input('enter your fav fruit here:')
print(fruit)

mango

In [19]:
age =int(input('Enter your age here :'))
name = input('Enter your name here :')
print('your ',name ,'and',age,"is this ")

your  samad and 23 is this

# Conditional logics 
1. logic opearators are either true or false ...........yes or no .....0 or 1
2. equal to ==
3. not eqaul to !=
4. less than <
5. greater than >
6. less than equal to <=
7. greater than equal to >=

In [23]:
# 4=4
print(4==4)
print(4<3)
print(3>4)
print(4!=4)

True
False
False
False

# Application of logical operators

In [24]:
samad_age=5
school_age =7
print(samad_age==school_age)

False

In [25]:
# input function and logical operators 
samad_age=7
user_input =int(input('Enter the age of samad: '))
print(user_input)

3

# Type conversion

In [27]:
x=10  # int
y=12.5   # float
z="hello"   # string 
r=x*y
print(type(r))

<class 'float'>

# Explicit type conversion

In [34]:
age =input ('Enter your age ')
print(type(age))   # showing str now convert into int 
print(type(int(age )))   # convert into int 

name = input ('Enter your name ')
print(type(name))  
# print(type(float(name)))# showing str now convert into int

<class 'str'>
<class 'int'>
<class 'str'>

# if else and elif

In [40]:
samad_age =4
mahad_age =5
if samad_age==mahad_age:
    print('yes welcome you can join this school')
elif samad_age!=mahad_age:
    print('sorry')
else:
    print('sorry you cant join this school')

sorry

# Function
1. define function by def 
2. () paraenthesis must be used in it

In [42]:
def func():
    print('i am learning ')
    print('i am learning ')
    print('i am learning ')
func()

i am learning
i am learning
i am learning

In [43]:
def cod_func():
    text="we are live together"
    print(text)
cod_func()

we are live together

In [44]:
def coffee(text):
    print(text)
coffee("we are learning python ")

we are learning python

In [48]:
def school_calculator (age):
    if age ==5:
        print('samad can join this schol')
    elif age == 6:
        print('samad can join higher school')
    else :
        print('samad can  not join higher school')
school_calculator(7)

samad can  not join higher school

In [50]:
def future_function(age):
    new_age =20+age
    return new_age
future_function(18)

38

# Loops 
1. while loops
2. for loops

In [57]:
# While loop
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [58]:
# For loop
for x in range (1,5):
    print(x)

1
2
3
4

In [61]:
# Array 
days=['samad','fahad','asad']
for i in days :
    if i=='fahad':break # Stop hogaya 
    print(i)

samad

In [62]:
for i in days :
    if i == 'fahad':continue
    print(i)

samad
asad

# Import libaraies

In [64]:
# if you want to print the value of pi so 
import math
print("The value of pi is ",math.pi)

The value of pi is  3.141592653589793

In [69]:
import statistics
array=[1,2,3,4,5]
statistics.mean(array)
# statistics.median(array)
# statistics.mode(array)

3