How to import dataset in python using pandas library

Written by :Abdulsamad

Date: 14-10-2024

Email:abdulsamads3414@gmail.com

<!-- how to import pandas library -->
<!-- go into window terminal and write it (pip install pandas ) -->

<!-- how to import pandas libraary
go into terminal and write pip install pandas  -->

In [1]:
# importing libraries
import pandas as pd

In [2]:
# step-2
# reading/importing library
df=pd.read_excel('D:\python ka chilla 2023\day_6\pandas_01_day6.xlsx')

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Abdul-Samad\AppData\Local\Temp\ipykernel_12120\3790533271.py:3: SyntaxWarning: invalid escape sequence '\p'
  df=pd.read_excel('D:\python ka chilla 2023\day_6\pandas_01_day6.xlsx')

In [3]:
df.head()

  Height Weight Favourite Dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao

In [4]:
df.tail()

   Height Weight Favourite Dish
82    5.4     55          Pasta
83    5.9   75KG  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

In [5]:
df.shape

(87, 3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     object
 1   Weight          87 non-null     object
 2   Favourite Dish  87 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

In [7]:
df.describe()

        Height  Weight Favourite Dish
count     87.0      87             87
unique    35.0      47              5
top        5.9      55        Biryani
freq       9.0       6             40