# How to import dataset in python using pandas library

Written by :Abdulsamad

Date: 14-10-2024

Email:abdulsamads3414@gmail.com

<!-- how to import pandas library -->
<!-- go into window terminal and write it (pip install pandas ) -->

<!-- how to import pandas libraary
go into terminal and write pip install pandas  -->

In [1]:
# importing libraries
import pandas as pd

In [20]:
# step-2
# reading/importing library
df=pd.read_excel('D:\python ka chilla 2023\day_6\pandas_01_day6.xlsx')   # write a path of your file here

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Abdul-Samad\AppData\Local\Temp\ipykernel_10272\249449778.py:3: SyntaxWarning: invalid escape sequence '\p'
  df=pd.read_excel('D:\python ka chilla 2023\day_6\pandas_01_day6.xlsx')   # write a path of your file here

In [ ]:
df.head()   # python counting start from zero indexing

   Height Weight Favourite_Dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao

In [23]:
df.tail()

    Height Weight Favourite_Dish
82     5.4     55          Pasta
83     5.9     75  Karahi Ghosht
84     5.4     61        Biryani
85     6.2     68  Chicken Pulao
86     5.1     96        Biryani

In [24]:
df.shape  # define number of rows and columns 87 rows and 3 columns

(87, 3)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     object
 2   Favourite_Dish  87 non-null     object
dtypes: float64(1), object(2)
memory usage: 2.2+ KB

In [26]:
df.describe()

           Height
count   87.000000
mean    10.163908
std     25.730693
min      5.000000
25%      5.300000
50%      5.600000
75%      5.900000
max    178.000000