what is sql ?
structure query langue 
designe for relational data base management system
used for database creation ,fetching ,rows and modifiing rows etc
daily bases work store in database and there are two types of data base one is relational and another is non relational
relational database is used for storing data in table format and non relational database is used for storing data
SQL used for handling  to RDMS ..

there are four commands in it 
DDL (Data Definition Language) - used to create, modify and delete alter and drop 

DCL (Data Control Language) - used to control access to other develpoer GRANT AND REVOKE

DML (Data Manipulation Language) - used to perform operations like INSERT, UPDATE, DELETE and select

TCL (Transaction control languge ) in ths COMMIT AND ROLLBACK

my role as a data scientist in sql is that 
company ka database ma a kar wahan say data ko extract karna hai then analysis karna 
join hamary yun kam ka hain ka q k hamari requetment ka data diffrent diffrent tables ma hota ha to join perform kartay hain 
inner join ,outer join ,left join ,right join ,full join

what excatly should i learn ?

DML COMMANDS     INSERT,DETELE SELECT UPDATE WHERE ORDERBY 

SQL join 

subqueries and temp tables 

SQL CASES 

store procuder and function 

window function    this is most important and use at analysis time

what excatly i learn ?
DATA types 

Normlization and denormalization 

indexing 

Query optimizing practice 

schma design practice(creating database and table mostly use it when data ko denormalized kar reay hon )

ER diagram     this is used for non technical users jis ko database ka baray ma info nea ha i used for that lucid chart


and select entities for ER DIAGRAM like food ,orders ,customer restruratnt 

set the datatypes of the entities like int ,varchar ,date etc

primary key uniquely identify hoti ha in each row in a table .............and its the combination of not null and unique id no,cnic number password number

foreieng key links to diffrent rows and differnt tables join 

index ......create and reteive data from database quikly

constraints 

NOT NULL: ys blanck nea chorta mostly id ko kartay hain 

UNIQUE : no duplicate value allowed 

PRIMARY KEY  :  means acces within a row it can be 1 or 2 combination like id and email 

CHECK:  value can be checked like age should be greater than 18

DEFAULT :current jo bi chal raha ho

AUTOINCREMENT : value ko increase karta ha

last DDL COMMAND 
ALTER 
1. ADD 
2. DEL
3. MODI COL
4. ADD /REMOVE CONSTRAINT

DML COMMAND 
INSERT we can insert the data in our table 
DEL
RETREIVE 
1. all colums
2. filter cols   select Survived,Name,SibSp FROM titanic_1;

3. alis as    SELECT Sex AS Gender,Name AS Recog FROM titanic_1;

4. expression 
5. constant 
6. Distinct single column    UNIQUE COMBINATION FETCH KARNA 
7. Distinct multi column
8. comparision operator it is used with WHERE clause select * FROM titanic_1 WHERE Age > 20;
9. ADN /OR/BETWEEN 
10. IN /NOT IN 
11. WILDCARD 
12. ORDER OF QUERY EXECUATION   SELECT Age FROM titanic_1 GROUP BY Age ORDER BY Age DESC LIMIT 5;
13. CASE here when not if  and for printing use THEN ELSE END
UPDATE

jOINS 
1. CARTISION PRODUCT     use CROSS here 
2. inner join 
3. outer join 
4. right join 
5. left join 
6. UNION 
7. SELF JOIN

# Codanics sql series

contraint are the set the rule in our datset means graeter than less than condition null or not null